body{
  height: 760px;
  padding-top: 20px;
  padding-left: 50px;
  background-image: url("../../../../src/assets/interface.png");
}
  
.container {
    
    margin: 0 auto;
    margin-top: 200px;
    max-width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
}
  
  
 button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;

  }
  
   button[type="button"]:hover {
    background-color: #3e8e41;
    text-decoration: none;

  }
  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}





