<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>Commndes</h1>
        </div>
        <div class="col-md-4 text-right">
            <app-boutton-action 
            [isImporterVisible]="false"
            (clickEvent)="nouvelleCommande()">
                
            </app-boutton-action>
        </div>
    </div>
    <div class=" col m-3">
        <div class="accordion" id="accordionExample">
            <div class="card mb-2">
              <div class="card-header" id="headingOne">
                <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="max-height: 300px;overflow-y: scroll ;">
                <div class="row mb-1 mr-0 custom-border">
                    <div class="col-md-3 border-right mb-1 mt-1">
                        <div class="row text-center">
                            <div class="col-md-12"><h5>Product_Id</h5></div>
                           
                        </div>
                    </div>
                
                    <div class="col-md-3 border-right mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12 text-center"><h5>Customer_Id</h5></div>
                
                        </div>
                    </div>
                
                    <div class="col-md-2 border-right mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12 text-center"><h5>Total Price</h5></div>
                        
                        </div>
                    </div>
                
                    <div class="col-md-2 mb-1 mt-1">
                        <div class="row text-center">
                            <div class="col-md-12"><h5> Quantity </h5></div>
                        </div>
                    </div>
                </div>
                
                    <app-detail-cmd></app-detail-cmd>       
              


                </div>  
                
              </div>
              <div class="card-footer">
                <div class="row">
                 
                    <div class="col-md-3 text-right"><h5>Total commandes 1</h5></div>
                </div>
            </div>
            </div>
            
  
        </div>
        
    </div>
    <div class="row mb-3">
        <div class="col-md-12 text-center">
        <app-pagination></app-pagination>
        </div>
    </div>
</div>